@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal-box {
    @apply backdrop-blur-sm bg-base-100/95;
  }

  .toast {
    @apply fixed z-50 p-4 space-y-4;
  }

  .toast-top {
    @apply top-0;
  }

  .toast-middle {
    @apply top-1/2 -translate-y-1/2;
  }

  .toast-bottom {
    @apply bottom-0;
  }
}

@layer utilities {
  .animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
